<template>
  <div>
    <Dialog
      :visible="erSynlig"
      :style="{ width: '600px' }"
      header="Velg instrument"
      modal
      closable
      close-on-escape
      dismissable-mask
      @update:visible="hideHandler"
    >
      <div class="p-fluid" style="margin-bottom: 5px">
        Velg hvilk(e) stemme(r) du vil vise ved utskrift av noter:
      </div>
      <div
        v-for="instr of instrumenter"
        :key="instr.key"
        style="margin-top: 5px; display: inline-block; width: 12em"
      >
        <Checkbox
          v-model="valgtInstrument"
          :input-id="instr.key"
          :value="instr.key"
        />
        <label :for="instr.key" style="margin-left: 5px">{{
          instr.name
        }}</label>
      </div>
      <template #footer>
        <div>
          <Button
            label="OK"
            icon="pi pi-check"
            @click="bekreftInstrument"
            class="p-button-success"
            rounded
          />
        </div>
      </template>
    </Dialog>
  </div>
</template>

<script>
export default {
  name: "InstrumentDialog",
  props: ["erSynlig"],
  data() {
    return {
      valgtInstrument: this.$cookies.get("instrument"),
    };
  },
  methods: {
    bekreftInstrument() {
      if (this.valgtInstrument && this.valgtInstrument.length > 0) {
        this.$cookies.set("instrument", this.valgtInstrument);
      } else {
        this.$cookies.remove("instrument");
      }
      this.$router.push({ name: "Noter" });
      this.$emit("skjul-instrumentdialog");
    },
    hideHandler(value) {
      if (!value) {
        this.$emit("skjul-instrumentdialog");
      }
    },
  },
};
</script>
