<template>
  <Dialog
    :visible="!innlogget"
    :style="{ width: '600px' }"
    header="Vennligst logg inn"
    modal
  >
    <Message
      v-if="isMobile()"
      severity="warn"
      icon="pi pi-exclamation-triangle"
      :closable="false"
    >
      Noter er kun til internt bruk i Tønsberg Janitsjarkorps - skal
      <strong>ikke</strong> deles med andre eller brukes av andre korps uten
      avtale.
    </Message>
    <div class="p-fluid" style="margin-bottom: 5px">
      Du må logge på notearkivet separat. Oppgi passord nedenfor.
    </div>
    <div class="p-fluid">
      <div style="margin-bottom: 5px">
        <input
          type="password"
          class="p-inputtext p-component p-password-input"
          v-model="passord"
          autofocus
          @keyup.enter="login"
        />
      </div>
    </div>
    <div
      v-if="passordFeil"
      class="p-grid p-fluid"
      style="margin-bottom: 5px; color: red"
    >
      Feil/ukjent passord. Prøv igjen!
    </div>
    <div>
      <Button
        label="OK"
        icon="pi pi-check"
        @click="login"
        class="p-button-success"
        rounded
      />
    </div>
  </Dialog>
</template>

<script>
import AuthService from "@/service/AuthService";

export default {
  name: "LoginDialog",
  data() {
    return {
      innlogget: false,
      passord: null,
      passordFeil: false,
    };
  },
  mounted() {
    AuthService.user().then((user) => {
      if (user !== undefined) {
        this.$router.push({ name: "Noter" });
      }
    });
  },
  methods: {
    isMobile() {
      return screen.width <= 760;
    },
    login(e) {
      e.preventDefault();
      AuthService.login({
        bruker: "ingen",
        passord: this.passord,
      })
        .then(() => {
          this.innlogget = true;
        })
        .catch(() => {
          this.passordFeil = true;
        });
    },
  },
};
</script>
