<template>
  <div>
    <Dialog
      :visible="erSynlig"
      :style="{ width: '600px' }"
      header="Innstillinger"
      modal
      closable
      close-on-escape
      dismissable-mask
      @update:visible="hideHandler()"
    >
      <div class="flex flex-column gap-2">
        <label for="gjeldende-prosjekt">Gjeldende prosjekt</label>
        <InputText
          id="gjeldende-prosjekt"
          v-model="gjeldendeProsjekt"
          aria-describedby="gjeldende-prosjekt-hjelp"
        />
        <small id="gjeldende-prosjekt-hjelp">
          Angir gjeldende prosjekt som arkivet automatisk filtreres på.
        </small>
      </div>

      <template #footer>
        <div>
          <Button label="Lagre" @click="lagre" />
        </div>
      </template>
    </Dialog>
  </div>
</template>

<script>
import NoteService from "@/service/NoteService";

export default {
  name: "SettingsDialog",
  props: ["erSynlig"],
  data() {
    return {
      settings: [],
      gjeldendeProsjekt: null,
    };
  },
  mounted() {
    NoteService.fetchSettings().then((data) => {
      this.gjeldendeProsjekt = data.find(
        (s) => s.setting === "gjeldende_prosjekt",
      ).verdi;
    });
  },
  methods: {
    lagre() {
      NoteService.setGjeldendeProsjekt(this.gjeldendeProsjekt).then(() => {
        this.$emit("sett-prosjekt", this.gjeldendeProsjekt);
        this.hideHandler(false);
      });
    },
    hideHandler(visible) {
      if (!visible) {
        this.$emit("skjul-settingsdialog");
      }
    },
  },
};
</script>
