<template>
  <div>
    <Toast position="top-left" />
    <table>
      <tr>
        <td style="vertical-align: middle">
          <!--suppress HtmlUnknownTarget -->
          <img
            src="Tønsberg-Janitsjarkorps-logo-600px-300x300.jpg"
            alt="TJK logo"
            width="50"
          />
        </td>
        <td style="vertical-align: middle">
          <span style="font-size: 18px; font-weight: bold">{{ tittel }}</span>
        </td>
        <td style="vertical-align: middle">
          <span style="font-size: 12px">v2025.02.02</span>
        </td>
        <td>
          <VarselOmBruk v-if="!isMobile()" style="margin-left: 20px" />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import VarselOmBruk from "@/components/VarselOmBruk.vue";

export default {
  name: "ToppDel",
  components: {
    VarselOmBruk,
  },
  data() {
    return {
      tittel: process.env.VUE_APP_TITLE,
    };
  },
  methods: {
    isMobile() {
      return screen.width <= 760;
    },
  },
};
</script>
