<template>
  <div>
    <InstrumentDialog
      :er-synlig="visInstrumentValg"
      @skjul-instrumentdialog="skjulInstrumentDialog"
    />
    <DataTable
      :filters="filters"
      :loading="loading"
      :paginator="true"
      :resizable-columns="true"
      :reorderable-columns="true"
      :row-hover="true"
      :rows="15"
      :rows-per-page-options="[15, 30, 60, 100]"
      :selection.sync="valgtNote"
      :sort-order="-1"
      :value="noter"
      auto-layout
      class="p-datatable-striped"
      csv-separator="|"
      current-page-report-template="Viser {first} til {last} av {totalRecords} noter"
      data-key="ArkivNr"
      export-filename="noter"
      paginator-template="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      ref="dt"
      id="notetabell"
      selection-mode="single"
      sort-field="kolArkivNr"
      v-if="kanLese || kanSkrive"
    >
      <template #header>
        <table>
          <tr>
            <td style="float: left">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <InputText
                  v-model="filters['global'].value"
                  placeholder="Fritekst søk"
                />
                <Checkbox
                  id="alleKolonner"
                  v-if="!isMobile()"
                  v-model="visAlleKolonner"
                  :binary="true"
                  style="margin-bottom: 5px; margin-left: 4px"
                  @change="onVisAlleKolonner()"
                />
                <label
                  v-if="!isMobile()"
                  for="alleKolonner"
                  class="p-checkbox-label"
                  style="font-size: 14px; margin-right: 4px"
                >
                  Vis/søk i alle kolonner
                </label>
              </span>
            </td>
            <td style="float: right">
              <span v-if="erDev">
                <Checkbox
                  id="toggleKanLese"
                  v-if="!isMobile()"
                  v-model="kanLese"
                  :binary="true"
                  style="margin-bottom: 5px; margin-right: 4px"
                />
                <label
                  for="toggleKanLese"
                  v-if="!isMobile()"
                  class="p-checkbox-label"
                  style="font-size: 9px; margin-right: 4px"
                >
                  Kan lese (DEV)
                </label>
              </span>
              <span v-if="erDev">
                <Checkbox
                  id="toggleKanSkrive"
                  v-if="!isMobile()"
                  v-model="kanSkrive"
                  :binary="true"
                  style="margin-bottom: 5px; margin-right: 4px"
                />
                <label
                  for="toggleKanSkrive"
                  v-if="!isMobile()"
                  class="p-checkbox-label"
                  style="font-size: 9px; margin-right: 4px"
                >
                  Kan skrive (DEV)
                </label>
              </span>
              <Button
                icon="pi pi-user-edit"
                label="Instrument"
                @click="visInstrumentDialog"
                style="margin-right: 4px"
                class="p-button-warning"
                rounded
              />
              <Button
                v-if="!isMobile()"
                icon="pi pi-plus"
                label="Legg til"
                @click="leggTilNote"
                style="margin-right: 4px"
                v-show="kanSkrive"
                class="p-button-success"
                rounded
              />
              <SplitButton
                v-if="!isMobile()"
                label="Meny"
                icon="pi pi-bars"
                :model="menyValg"
                style="margin-right: 4px"
                rounded
              />
              <Button
                v-if="kanSkrive"
                label="Innstillinger"
                icon="pi pi-cog"
                class="p-button-warning"
                rounded
                @click="toggleSettingsDialog"
              />
              <Button
                icon="pi pi-sign-out"
                label="Logg ut"
                @click="loggUt"
                class="p-button-danger"
                rounded
              />
            </td>
          </tr>
        </table>
      </template>
      <template #empty> Ingen treff. </template>
      <template #loading> Laster noter, vent litt... </template>

      <Column :exportable="false">
        <template #body="slotProps">
          <Button
            v-if="!isMobile()"
            :icon="kanSkrive ? 'pi pi-pencil' : 'pi pi-search'"
            class="p-button-success"
            style="margin-right: 4px"
            @click="onRowSelect(slotProps.data)"
            rounded
          />
          <Button
            icon="pi pi-print"
            class="p-button-warning"
            rounded
            @click="visNoteskannDialog(slotProps.data)"
          />
        </template>
      </Column>
      <Column
        v-for="col of valgteKolonner"
        :key="col.field"
        :field="col.field"
        :header="col.header"
        sortable
      >
        <template #body="slotProps">
          <div v-html="highlightMatches(slotProps.data[col.field])" />
        </template>
      </Column>
    </DataTable>
    <KolonnePicklist
      :er-synlig="visKolonneValgDialog"
      :alle-kolonner="allColumns"
      :initielt-valgte-kolonner="valgteKolonner"
      @skjul-kolonnevalg="skjulKolonneValgDialog"
      @valgte-kolonner="oppdaterValgteKolonner"
    />

    <NoteDialog
      :er-synlig="visDialog"
      :mode="mode"
      :dialog-note="dialogNote"
      :ark-nr-naa="arkNrNaa"
      :noter="noter"
      :valgt-note="valgtNote"
      :kan-skrive="kanSkrive"
      :all-columns="allColumns"
      :vis-avbryt-knapp="visAvbrytKnapp"
      :vis-slett-knapp="visSlettKnapp"
      @skjul-notedialog="skjulNoteDialog"
    />

    <NoteskannLenkerDialog
      :er-synlig="visNoteskannLenkerDialog"
      :arkiv-nr="arkNrNaa"
      :lenker="skannedeNoter"
      :filtrerte-lenker="filtrerteNoter"
      @skjul-noteskannlenkerdialog="skjulNoteskannLenkerDialog"
    />

    <SettingsDialog
      :er-synlig="visSettingsDialog"
      :settings="settings"
      @skjul-settingsdialog="toggleSettingsDialog"
      @sett-prosjekt="settProsjekt"
    />
  </div>
</template>

<script>
import AuthService from "@/service/AuthService";
import NoteService from "@/service/NoteService";
import KolonnePicklist from "@/components/noter/KolonnePicklist";
import NoteDialog from "@/components/noter/NoteDialog";
import NoteskannLenkerDialog from "@/components/noter/NoteskannLenkerDialog";
import InstrumentDialog from "@/components/InstrumentDialog";
import { utils, writeFile } from "xlsx";
import { FilterMatchMode } from "primevue/api";
import SettingsDialog from "@/components/SettingsDialog.vue";

const kolArkivNr = { field: "ArkivNr", header: "Nr" };
const kolTittel1 = { field: "Tittel1", header: "Tittel" };
const kolTittel2 = { field: "Tittel2", header: "Tittel 2" };
const kolSolo = { field: "Soloinstrument", header: "Solo-instr" };
const kolDurata = { field: "Durata", header: "Durata" };
const kolKategori1 = { field: "Kategori1", header: "Kategori" };
const kolKategori2 = { field: "Kategori2", header: "Kategori 2" };
const kolKategori3 = { field: "Kategori3", header: "Kategori 3" };
const kolKommentar = { field: "Kommentar", header: "Kommentar" };
const kolKomponist = { field: "Komponist", header: "Komponist" };
const kolLand = { field: "Land", header: "Land" };
const kolArrangor = { field: "Arrangor", header: "Arrangør" };
const kolArrangertFor1 = { field: "ArrangertFor1", header: "Arrangert for" };
const kolArrangertFor2 = { field: "ArrangertFor2", header: "Arrangert for 2" };
const kolProsjekt = { field: "Prosjekt", header: "Prosjekt" };

const allCols = [
  kolArkivNr,
  kolTittel1,
  kolTittel2,
  kolSolo,
  kolDurata,
  kolKategori1,
  kolKategori2,
  kolKategori3,
  kolKommentar,
  kolKomponist,
  kolLand,
  kolArrangor,
  kolArrangertFor1,
  kolArrangertFor2,
  kolProsjekt,
];
const minCols = [
  kolArkivNr,
  kolTittel1,
  kolKomponist,
  kolArrangor,
  kolKommentar,
  kolProsjekt,
];
const mobileCols = [
  kolArkivNr,
  kolTittel1,
  kolKomponist,
  kolArrangor,
  kolProsjekt,
];

export default {
  name: "Noter",
  data() {
    return {
      allColumns: allCols,
      arkNrNaa: null,
      dialogNote: {},
      menyValg: [
        {
          label: "Vis nedlastinger",
          icon: "pi pi-arrow-circle-down",
          command: () => {
            this.$router.push({ name: "Nedlastinger" });
          },
        },
        {
          label: "Velg kolonner",
          icon: "pi pi-cog",
          command: () => {
            this.visKolonneValgDialog = true;
          },
        },
        {
          label: "Eksporter alle noter til Excel-fil (faste kolonner)",
          icon: "pi pi-file-excel",
          command: () => {
            const wb = utils.book_new();
            const ws = utils.json_to_sheet(this.noter);
            ws["!cols"] = [
              { wch: 6 }, // arkivNr
              { wch: 20 }, // tittel1
              { wch: 15 }, // tittel2
              { wch: 10 }, // soloinstr
              { wch: 8 }, // durata
              { wch: 20 }, // kat1
              { wch: 20 }, // kat2
              { wch: 10 }, // kat3
              { wch: 30 }, // kommentar
              { wch: 20 }, // komponist
              { wch: 8 }, // land
              { wch: 20 }, // arrangor
              { wch: 10 }, // arrangortFor1
              { wch: 10 }, // arrangortFor2
              { wch: 10 }, // prosjekt
            ];
            utils.book_append_sheet(wb, ws, "TJK-notearkiv-alle");
            writeFile(wb, "TJK-notearkiv-alle.xlsx");
          },
        },
        {
          label: "Eksporter vist tabell til Excel",
          icon: "pi pi-file-excel",
          command: () => {
            const elt = document.getElementById("notetabell");
            const wb = utils.table_to_book(elt, {
              sheet: "TJK-notearkiv-utsnitt",
            });
            writeFile(wb, "TJK-notearkiv-utsnitt.xlsx");
          },
        },
        {
          label: "Eksporter vist tabell til csv, feltskille '|'",
          icon: "pi pi-file",
          command: () => {
            this.$refs.dt.exportCSV();
          },
        },
      ],
      erDev: process.env.NODE_ENV === "development",
      filters: null,
      valgteKolonner: this.isMobile() ? mobileCols : minCols,
      valgteKolonnerBackup: this.isMobile() ? mobileCols : minCols,
      visAlleKolonner: false,
      kanLese: false,
      kanSkrive: false,
      loading: true,
      mode: "VIS",
      noter: [],
      settings: [],
      passord: null,
      passordFeil: false,
      tittel: process.env.VUE_APP_TITLE,
      valgtNote: null,
      visAvbrytKnapp: false,
      visDialog: false,
      visKolonneValgDialog: false,
      visSlettKnapp: true,
      skannedeNoter: [],
      filtrerteNoter: [],
      visNoteskannLenkerDialog: false,
      visInstrumentValg: !this.$cookies.isKey("instrument"),
      visSettingsDialog: false,
    };
  },
  components: {
    SettingsDialog,
    InstrumentDialog,
    KolonnePicklist,
    NoteDialog,
    NoteskannLenkerDialog,
  },
  created() {
    this.initFilters();
  },
  mounted() {
    this.title = process.env.VUE_APP_TITLE;
    if (this.$route.query.search) {
      sessionStorage.search = this.$route.query.search;
    }

    // if not logged in, send user to login comp
    AuthService.user().then((user) => {
      if (user === undefined) {
        this.$router.push({ name: "LoginDialog" });
        return;
      }
      if (user.rolle === "les") {
        this.kanLese = true;
        this.kanSkrive = false;
      }
      if (user.rolle === "skriv") {
        this.kanLese = true;
        this.kanSkrive = true;
      }
    });

    NoteService.fetchSettings().then((data) => {
      this.settings = data;
      var gjeldendeProsjekt = this.settings.find(
        (s) => s.setting === "gjeldende_prosjekt",
      ).verdi;
      this.settProsjekt(gjeldendeProsjekt);
    });
    NoteService.fetchNoter().then((data) => {
      this.noter = data;
      this.loading = false;
    });
    if (sessionStorage.search) {
      this.filters["global"].value = sessionStorage.search;
    }
  },
  methods: {
    isMobile() {
      return screen.width <= 760;
    },
    getSearchSize() {
      return screen.width <= 760 ? "small" : "large";
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
      sessionStorage.search = "";
    },
    onRowSelect(data) {
      this.arkNrNaa = data.ArkivNr;
      this.mode = "ENDRE";
      this.dialogNote = { ...data };
      this.visSlettKnapp = true;
      this.visAvbrytKnapp = true;
      this.visDialog = true;
    },
    highlightMatches(data) {
      let currentSearch = this.filters.global.value;
      if (currentSearch === null || currentSearch.length < 2) {
        return data;
      }
      sessionStorage.search = currentSearch;
      if (data.toString().toLowerCase().includes(currentSearch.toLowerCase())) {
        return data.replace(new RegExp(currentSearch, "ig"), "<mark>$&</mark>");
      } else {
        return data;
      }
    },
    leggTilNote() {
      this.mode = "NY";
      this.arkNrNaa = this.genererArkivnr();
      this.dialogNote = {
        ArkivNr: this.arkNrNaa,
      };
      this.visSlettKnapp = false;
      this.visAvbrytKnapp = true;
      this.visDialog = true;
    },
    genererArkivnr() {
      let currentMax = Math.max(...this.noter.map((n) => n.ArkivNr));
      return currentMax + 1;
    },
    skjulNoteDialog() {
      this.visDialog = false;
      this.dialogNote = null;
    },
    skjulKolonneValgDialog() {
      this.visKolonneValgDialog = false;
    },
    skjulInstrumentDialog() {
      this.visInstrumentValg = false;
    },
    oppdaterValgteKolonner(kol) {
      this.valgteKolonner = kol;
    },
    loggUt() {
      sessionStorage.removeItem("search");
      AuthService.logout().then(() => {
        this.kanSkrive = false;
        this.kanLese = false;
      });
    },
    visNoteskannDialog(data) {
      this.arkNrNaa = data.ArkivNr;
      NoteService.getSkanListe(data.ArkivNr)
        .then((res) => {
          this.skannedeNoter = res;
          this.filtrerNoter();
        })
        .catch((error) => this.handleError(error));
      this.visNoteskannLenkerDialog = true;
    },
    skjulNoteskannLenkerDialog() {
      this.visNoteskannLenkerDialog = false;
      this.skannedeNoter = [];
    },
    toggleSettingsDialog() {
      this.visSettingsDialog = !this.visSettingsDialog;
    },
    settProsjekt(data) {
      this.filters["global"].value = data;
    },
    filtrerNoter() {
      const instrCookie = this.$cookies.get("instrument");
      if (instrCookie != null) {
        // Cookie 'instrument' is an array of instrument keys.
        // Need to look up the instruments in the global instrument array,
        // where each instrument has a regexp value. The joined values
        // is what we will search for.
        const regexp = instrCookie.map((val) =>
          this.instrumenter.find((i) => i.key === val).value
        ).join("|");
        if (regexp != null) {
          this.filtrerteNoter = this.skannedeNoter.filter((lenke) =>
            new RegExp(regexp).test(lenke.text.toLowerCase()),
          );
        }
      }
    },
    visInstrumentDialog() {
      this.visInstrumentValg = true;
    },
    onVisAlleKolonner() {
      if (this.visAlleKolonner) {
        this.valgteKolonnerBackup = this.valgteKolonner;
        this.valgteKolonner = allCols;
      } else {
        if (this.valgteKolonnerBackup) {
          this.valgteKolonner = this.valgteKolonnerBackup;
        } else {
          this.valgteKolonner = minCols;
        }
      }
      // endring av 'valgteKolonner' vil rendre tabellen på nytt, da må vi også kjøre highlightMatches på nytt
      setTimeout(() => {
        this.highlightMatches();
      }, 500);
    },
  },
};
</script>

<style>
.p-dropdown {
  float: left;
}

.p-paginator-current {
  float: right;
}

.p-datatable-header {
  border: 0 none;
  padding: 12px;
  text-align: left;
  font-size: 20px;
}
</style>
