<template>
  <div>
    <Dialog
      :visible="erSynlig"
      :style="{ width: '600px' }"
      :header="getHeader()"
      modal
      closable
      close-on-escape
      dismissable-mask
      @update:visible="hideHandler()"
    >
      <ProgressBar
        v-show="visProgressBar"
        mode="indeterminate"
        style="margin-bottom: 8px"
      />
      <i
        v-if="isEmpty(lenker)"
        class="pi pi-spin pi-spinner"
        style="font-size: 3rem"
      ></i>
      <div v-if="typeof lenker === 'string'">
        {{ lenker }}
      </div>
      <div v-else v-for="lenke in getLenker()">
        <Button
          :label="lenke.text"
          class="p-button-link"
          rounded
          @click="getNote(lenke)"
        />
      </div>
      <p />
      <template #footer>
        <Button
          label="Lukk"
          icon="pi pi-check"
          @click="skjulNoteskannLenkerDialog"
          class="p-button-success"
          autofocus
          rounded
          style="margin-right: 8px"
        />
        <Button
          v-show="this.$cookies.isKey('instrument') && !this.visAlleStemmer"
          label="Alle stemmer"
          icon="pi pi-bars"
          @click="this.visAlleStemmer = !this.visAlleStemmer"
          class="p-button-warning"
          rounded
        />
        <Button
          v-show="this.$cookies.isKey('instrument') && this.visAlleStemmer"
          label="Min stemme"
          icon="pi pi-bars"
          @click="this.visAlleStemmer = !this.visAlleStemmer"
          class="p-button-warning"
          rounded
        />
      </template>
      <ProgressBar
        v-show="visProgressBar"
        mode="indeterminate"
        style="margin-top: 8px"
      />
    </Dialog>
  </div>
</template>

<script>
import download from "downloadjs";
import NoteService from "@/service/NoteService";

export default {
  name: "NoteskannLenker",
  props: ["erSynlig", "arkivNr", "lenker", "filtrerteLenker"],
  data() {
    return {
      visProgressBar: false,
      visAlleStemmer: false, // hvis vi har filtrerte lenker skal de vises initielt
    };
  },
  methods: {
    getHeader() {
      return "Skannede noter for arkivnr " + this.arkivNr;
    },
    skjulNoteskannLenkerDialog() {
      this.$emit("skjul-noteskannlenkerdialog");
    },
    getLenker() {
      if (this.$cookies.isKey("instrument")) {
        return this.visAlleStemmer ? this.lenker : this.filtrerteLenker;
      } else {
        return this.lenker;
      }
    },
    getNote(linkObj) {
      this.visProgressBar = true;
      NoteService.getNote(linkObj)
        .then((response) => {
          const contentType = response.headers["content-type"];
          download(response.data, linkObj.text, contentType);
          this.visProgressBar = false;
        })
        .catch((error) => {
          console.error(error);
          this.visProgressBar = false;
        });
    },
    handleError(error) {
      this.$toast.add({
        severity: "error",
        summary: "Feil",
        detail: error,
        life: 3000,
      });
    },
    isEmpty(obj) {
      return Object.keys(obj).length === 0;
    },
    hideHandler(visible) {
      if (!visible) {
        this.$emit("skjul-noteskannlenkerdialog");
      }
    },
  },
};
</script>
